/* -----Normalize----- */

/* {
	box-sizing: border-box; поля,отступы и границы добавляются внутрь блока
	margin: 0;
	padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Source Serif 4", serif;
}

/* ------------------------------------------------------ */
body {
	/* background-color: #e8f1fb; */
	background: #ffffff;
	margin: 0 auto; /* Центрирование по горизонтали */
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

/* -----Header------- */
.header {
	position: sticky;
	top: 0;
	background-color: #12131ecb;
	padding: 2px;
	z-index: 20;
}

.header__block {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 800px;

	font-size: 16px;
	font-weight: 300;
	line-height: 150%;
}

.header a {
	color: #e8f1fb;
	font-size: 22px;
	font-weight: 400;
	line-height: 150%;
	text-decoration: none;
}

.header__links a {
	cursor: pointer;
}

/* ------------------------------------------------------------- */
.logo__car {
	display: block;
	width: 100%;
}
/* ---------------------------------------------------------- */

.container {
	/* height: auto; */
	position: relative;
	/* min-height: 90%; */
	max-width: 1140px;
	margin: 0 auto;
}

.title__right {
	margin: 40px;
	display: flex;
	justify-content: center;
}

.title {
	margin: 0 auto;
	text-align: center;
	font-weight: 300;
	border-radius: 30px;
	-webkit-text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.29);
	-moz-text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.29);
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.29);
	word-spacing: normal;
	background-color: #ffffff6f;
}

.title__top {
	margin-top: 160px;
}

.title__big {
	padding: 10px;
	outline: 2px solid rgba(5, 28, 52, 0.256); /* Второй бордер */
	color: rgb(255, 255, 255);
	font-size: 40px;
	line-height: 50px;
	transition: 0.2s;
}

.title__big:hover {
	/* outline: 5px solid #ffffffd6; Второй бордер */
	color: #000000;
	background-color: #ffffffd6;
	span {
		color: #000000;
	}
	font-weight: 300;
	cursor: default;
}

.title__colored {
	color: rgba(0, 0, 0, 0.67);
	font-size: 41px;
	word-spacing: 5px;
	font-weight: 500;
	text-transform: uppercase
}

.btn {
	min-width: 315px;
	min-height: 72px;
	margin: 0 auto;
	padding: 0 15px;
	display: block;
	border-radius: 2px;
	background: linear-gradient(0deg, #12131eaf, #565656 100%);
	color: #fff;
	text-shadow: -1px -1px 0px rgba(78, 78, 78, 0.299);
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.btn {
	transition: 0.5s;
}
.btn:hover {
	transform: scale(1.03);
}

.promo {
	min-height: 630px;
	/* background: url(../icons/Audi\ 1.svg) no-repeat; */
	padding: 22px 0 65px 0;
	/* margin-top: 165px; */
}
/* ------------ Видео -------------------------- */

.promo__video {
	position: absolute;
	/* margin-top: 120px; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Видео растягивается на весь блок, сохраняя пропорции */
	z-index: 0; /* Видео на заднем плане */
	opacity: 1;
	clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);

}

.logo__img {
	width: 240px; /* Задайте нужную ширину для логотипа */
	height: auto;
}

.logo__text {
	margin-left: -60px;
	width: 250px;
	text-align: left;
	color: rgb(5, 28, 52);
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	transition: 0.5s;
	font-family: "Caveat", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 900;

@media screen and (max-width: 1287px) {
    & {
        margin-left: 20px;
    }
	}
}

/* -------------------------- Logo effect------------------------------------------ */

.logo__text:hover {
	color: rgb(28, 76, 129);
	cursor: default;
}
/* -------------------------------------------------------------------- */

.promo h1 {
	font-weight: 500;
	width: auto;
	text-align: center;
	text-transform: uppercase;
	/* text-align: justify; Растягивает текст по ширине */
	cursor: default;
}

.promo h1::before {
	font-weight: 900;
}

.promo h2 {
	width: 800px;
	text-align: center;
	-webkit-box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 15px 6px rgba(34, 60, 80, 0.2);
}

.promo .btn {
	margin-top: 40px;
}

.promo__text {
	margin-top: 70px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 21px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
}

.promo__text span {
	color: #e4b12e;
	text-transform: uppercase;
}

.title span {
	color: #ffffff;
	transition: 1s;
	font-weight:400;
}

.promo__more-text {
	margin-top: 30px;
	color: #538ed6;
	text-align: center;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.promo__more-img {
	display: block;
	margin: 10px auto 0 auto;
}

.intensive {
	background-color: #efefef;
	padding: 80px 0;
}

.intensive__title {
	color: #252525;
	font-size: 30px;
	font-weight: 500;
}

.intensive__subtitle {
	margin-top: 15px;
	color: #4a4a4a;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
}

/* Флекс контейнер */
.intensive__wrapper {
	display: block;
	justify-content: space-between;
	margin-top: 30px;
	align-items: flex-start;
}

.intensive__item {
	width: 360px;
}

.intensive__img {
	width: 342px;
	height: 210px;
	object-fit: cover;
	width: 100%;
}

.intensive__descr {
	margin-top: 15px;
	color: #4a4a4a;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

.info {
	min-width: 564px;
	background-color: #0f0b0b;
	padding: 100px 0 140px 0;
}

.info__title {
	color: #f9bf3b;
	font-size: 30px;
	text-align: right;
}

.info__text {
	position: relative;
	padding-left: 390px;
	margin-top: 19px;
	color: #ffff;
	text-align: right;
	font-size: 16px;
	font-weight: 300;
	z-index: 2;
}

.info__text.medium {
	font-weight: 500;
}

.info__img {
	width: 615px;
	height: 351px;
	object-fit: cover;
	position: absolute;
	top: 83px;
	left: -83px;
	z-index: 1;
}

.road__top {
	background: url("../img/RoadTop.png") center center / cover no-repeat;
	margin: 30px 0px 3px 0px;
	height: 220px;
}

.skills__title {
	color: #efefef;
	font-size: 30px;
	font-weight: 400;
}

.skills__wrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}

.skills__item {
	width: 224px;
}

.pay__rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 160px;
	height: 85px;
	background-color: #03dd0795;
	border-radius: 10px;
}

.skills__img {
	max-width: 110px;
}

.skills__desc {
	margin-top: 18px;
	text-align: center;
	color: #000000;
	font-size: 20px;
	font-weight: 400;
}

/* ----Present---- */
.present__intensive {
	background-color: white;
	padding: 30px 0 83px 0;
}

.present__img {
	width: 100px;
	display: block;
	margin: 0 auto;
}

.present__text {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 60px;
	color: #4a4a4a;
	text-align: center;
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

.present__wrapper {
	display: flex;
	justify-content: center;
}

/* -------Webinar-------- */

.webinar {
	background-color: #41d8d3;
	padding: 50px 0;
}

.webinar__img {
	width: 500px;
	height: 250px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}

.webinar__subtitle {
	margin-top: 40px;
	color: #fff;
	font-size: 30px;
	font-weight: 500;
}

.webinar__title {
	margin-top: 20px;
	color: #f9bf3b;
	font-size: 36px;
	line-height: 36px;
}

.webinar__cta {
	margin-top: 20px;
	color: #efefef;
	text-align: center;
	font-size: 23px;
	font-weight: 500;
}

/* --------------------- Оплата ------------------------ */
.pay__wrapper {
	display: block;
	text-align: center;
	margin: 0 auto;
	max-width: 800px;
}

.pay__text {
	max-width: 800px;
	margin-top: 40px;
	margin-bottom: 100px;
	color: #4a4a4a;
	text-align: center;
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
}

/* ------------------- Бегущая строка ------------------------ */

.scrolling-container {
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.scrolling-wrapper {
	display: inline-block;
	animation: scroll 60s linear infinite;
}

.scrolling-wrapper img {
	width: 80vh;
	height: 400px;
	margin: 0 10px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
	max-inline-size: none;
	object-fit: cover;
}

/* Анимация для бегущей строки */
@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

@media (max-width: 768px) {
	.scrolling-wrapper img {
		width: 80vw; /* Увеличиваем ширину для мобильных */
		margin: 0 5px;
	}

	.scrolling-wrapper {
		animation-duration: 60s;
	}
}
/* ----------- Бренды авто -------------------- */

.container__brands {
	display: flex;
	justify-content: center;
	position: relative;
	max-width: 100%;
	background-color: #fff;
	padding-top: 20px;

}
@media (max-width: 768px) {
	.brands__logo {
		display: flex;
		flex-direction: column;
    	align-items: center;

	}
	.brands__logo img {
    width: clamp(80px, 15vw, 150px); /* Адаптивная ширина */
    height: auto;
}
}

.brands__logo {
	height: 100%;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}
/* --------------- Пустой блок ------------------------ */

.empty__block {
	height: 30px;
	background-color: #fff;
}

/* ------------------ Дорога нижняя картинка -------------------- */
.road__bottom {
	background: url("../img/RoadButtom.png") center center / cover no-repeat;
	margin: 0px 0px 0px 0px;
	height: 400px;
}

/* ---------- Map ------------------------------------ */

.map__address {
	height: 400px;
	margin: 20px;
	padding: 0; /* Поля вокруг текста */
	-webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}

/* -----Footer------- */
.footer {
	position: relative;
	background-color: #12131ee0;
	padding: 58px 0;
}

.footer__block {
	display: inline-flex;
	flex-direction: column;	
	margin: auto 100px;px;
	color: #888;
	font-size: 18px;
	font-weight: 300;
	line-height: 150%;
}

@media screen and (max-width: 768px) {
	.footer__block {
		display: flex;
		justify-content: center;
		align-items: center;
		/* font-size: 5vw; Адаптивный размер текста */
	}
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 80px; /* Добавляем место для логотипа */
  }

  .logo__container {
    position: absolute;
    right: auto; /* Сбрасываем right */
    left: 50%;   /* Центрируем */
    bottom: 20px; /* Прижимаем к низу */
    transform: translateX(-50%); Точное центрирование
    margin-right: 0;
  }

  .logo__footer {
    font-size: 6vw; Адаптивный размер текста
    /* text-align: center; Центрируем текст */
  }
}


.footer a {
	color: #888;
	font-size: 16px;
	font-weight: 300;
	line-height: 150%;
	text-decoration: none;
	margin-bottom: 25px;
}

.footer .underlined {
	text-decoration: underline;
}

.footer__block .email__footer {
	text-decoration: none;
}

.logo__container {
	position: absolute;
	right: 0;
	margin-right: 100px;
	z-index: 100;
}

.footer__block .logo__footer {
	color: #ffff;
}

.logo__container-footer {
	position: absolute;
	display: flex;
	gap: 20px;
	font-size: 30px;
	left: 45%;
	top: 50%;
}

.icon-whatsapp,
.icon-telegram {
	transition: all 0.4s ease;
	/* transform: rotateX(360deg); */

}

.icon-whatsapp:hover,
.icon-telegram:hover {
	cursor: pointer;
	color: #ffff;
	transform: scale(1.5);
	transform: rotate(360deg) scale(1.5);
}


/* ----------- Dialog-window -------------------------- */
.dialog__title {
	font-size: 2rem;
	line-height: 1.5;
	padding: 0.5rem 0;
	text-align: center;
}

.dialog__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.dialog__links a {
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
	transition: color 0.3s ease;
}

.dialog__links a:hover {
	color: rgb(44, 146, 255);
}

.dialog__links .underlined {
	text-decoration: underline;
}

dialog {
	padding: 1rem 3rem;
	background: white;
	max-width: 100%;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
}

dialog::backdrop {
	animation: fadeIn 1s ease both;
	z-index: 2;
	backdrop-filter: blur(20px);
}

.x {
	filter: grayscale(1);
	border: none;
	background: none;
	position: absolute;
	top: 15px;
	right: 10px;
	transition: ease filter, transform 0.3s;
	cursor: pointer;
	transform-origin: center;
}

.x:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* --------------------------------------------------------------------------- */

@media (max-width: 768px) {
	.logo {
		margin: 80px; /* Уменьшаем отступы */
		/* padding: 5px; Уменьшаем внутренние отступы */
	}
}

@media (max-width: 768px) {
	.header__block {
		flex-direction: column;
		align-items: center;
		gap: 1vh; /*Уменьшаем отступы */
	}

	.header__links a,
	.header__block > a {
		font-size: 4vw; /* Адаптивный размер текста */
	}
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
	.dialog__title {
		font-size: 5vw; /* Адаптивный размер текста */
	}

	.dialog__links a {
		font-size: 4vw; /* Адаптивный размер текста */
	}
}

@media (max-width: 768px) {
	.logo__text {
		text-align: center;
	}
}
